body {
  background: rgba(203,8,20,0.57) url("../../stripes.png");
}

h1 { 
    font-family: Sansita One;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    text-align: center;
}

#my-leaderboard {
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
  box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
}

table {
    font-family: Sansita One;
}
